.fi-icon-btn-icon {
    color: #fafafa !important;
    /* make circle */
    border-radius: 50% !important;
    /* width: 50px !important;
    height: 40px !important; */
    background-color: #09090b !important;
}